body {
    margin: 0;
    padding: 0;
}

.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.8fr 1fr 1fr 1fr;
    height: 100vh;


}

.header {
    grid-column: 2/3;
    display: grid;

}

.sidebar {
    display: grid;
    color: white;
    background-color: rgb(49, 49, 156);
    grid-column: 1/2;
    grid-row: 1/5;
}

ul {
    list-style-type: none;
    padding-top: 0; /* Remove any top padding on the <ul> element */
    margin-top: 0; /* Remove any top margin on the <ul> element */
}

li {
    margin-top: 5vh;
}

.dashboard {
    display: grid;
    justify-content: center;
    font-size: 3vw;
    margin-bottom: 0vh;
}

.content-containers {
    background-color: grey;
}

input[type="search"] {
    margin-left: 1vw;
    width: 50%;
    background-color: lightgrey;
    border-radius: 1vw;
    
}

.search-container {
    margin-top: 1vh;
}

.search-icon {
    
    margin-left: 5vw;
}