body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.6fr 1fr 1fr 1fr;
    position: relative;
}

/* sidebar start */

.dashboard {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin-top: 2vh;
    font-weight: bold;
}

.dashboard svg{
    width: 3vw;
    position: absolute;
    left: 1vw;
    fill: white;
}

.sidebar-icon {
    text-align: left;
    padding-left: 0.9vw;
    font-size: 1.3vw;

}

.sidebar-icon:hover {
transform: scale(1.1); 
cursor: pointer;
text-decoration: underline;
}

.sidebar-icon svg {
    width: 2vw;
    height: auto;
    position: absolute;
    left: -2.5vw;
    fill: white;
}

.sidebar {
    display: grid;
    color: white;
    background-color: rgb(49, 49, 156);
    grid-column: 1/2;
    grid-row: 1/5;
}

ul {
    list-style-type: none;
    padding-top: 0; 
    margin-top: 0; 
}

li {
    margin-top: 5vh;
    margin-left: 0.7vw;
    position: relative;
    top:-23vh;
    text-align: left;
    font-weight: bold;
}

/* sidebar end */


/* header start */
.header {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;    grid-row: 1/2;
    background-color: white;
    z-index: 1;
}

.buttons {
    display: grid;
    grid-template-columns: 7vw 7vw 7vw;
    gap: 1vw;
    position: relative;
    margin-left: 30vw;
    top: -5vh;
    height:5vh ;
}

.new,
.upload,
.share {
    background-color: rgb(118, 118, 216);
    border-radius: 3vw;
    color: aliceblue;
    cursor: pointer;
    border: rgb(118, 118, 216);
}

.new:hover,
.upload:hover,
.share:hover {
    cursor: pointer;
    transform: scale(1.1);
}

input[type="search"] {
    margin-left: 1vw;
    width: 50%;
    background-color: lightgrey;
    border-radius: 1vw;
    position: relative;
    top: -2vh;
    
}


.search-icon {
    position: relative;
    top: -2vh;
    margin-left: 5vw;
}

.search-icon:hover {

cursor: pointer;
font-size: 1.5vw;
}

.hello-username {
    margin-left: 13vw;
    margin-bottom: -10vh;
    font-size: 1.5vw;
    position: relative;
    bottom: 8vh;
}

.large-profile-pic img {
    width: 6vw;
    height: 10vh;
    border-radius: 2vw;
    margin-left: 6vw;
    position: relative;
}

.small-profile-pic img{
    width: 4vw;
    height: 7vh;
    border-radius: 2vw;
    position: relative;
    left: 1vw;
    top: 0.8vh;

}

.small-profile-pic img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.large-profile-pic img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.hi {
    font-size: 0.8vw;
    position: relative;
}

.notification-icon {
    margin-left: 10vw;
    cursor: pointer;
    position: relative;
    top: -2vh;
    
}

.notification-icon:hover{
font-size: 1.5vw; 
}

.profile-name {
    font-weight: bold;
    margin-left: 2vw;
    position: relative;
    top: -2vh;
}

/* header end */


/* main content start */
.main-content {
    background-color: rgb(212, 211, 211);
    grid-column: 2/3;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr ;
    grid-template-rows: auto auto auto;
    grid-gap: 3vw;
   
    
}


.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (3,1fr);
    grid-gap: 2vw;
    position: relative;
    margin-top: 7vh;
    right:16vw;
    grid-row-gap: 1.5vw;
    
}

.card {
    background-color: white;
    height:25vh;
    width: 22vw;
    text-align: center;
    font-size: 0.8vw;
    border-left:0.4vw solid #e36c0a; 
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0.5vw;
    
  }
  

h1:hover{
    font-size: 1.7vw;
    text-decoration: underline;
    cursor: pointer;
}

.your-project {
    font-weight: bolder;
    font-size: 1.5vw;
    position: relative;
    left: 1.4vw;
    top: 1.3vh;
}


.announcement-header{
    position: relative;
    right: 14vw;
    top: 1.3vh;
    font-size: 1.5vw;
    font-weight: bold;
}


.announcements{
    background-color: white;
    box-shadow: 10px 10px 15px 10px #888888;
    border-radius: 0.4vw;
    font-size: 0.8vw;
    position: relative;
    top: 1.5vh;
    right: 14vw;
    width: 160%;
    height: 57%;
    
}

.announcements h1 {
    font-size: 1vw;
    margin-left: 2vw;
    
}

.announcements p {

    margin-left: 2vw;
    margin-right: 2vw;
    
}



.announcements p:not(:last-child) {
    border-bottom: 1px solid #ccc; 
    padding-bottom: 0.8vw; 
}

.trending-header {
    position: relative;
    right: 14vw;
    font-weight: bold;
    top:3vh;
}

.trending {
    background-color: white;
    box-shadow: 10px 10px 15px 10px #888888;
    border-radius: 0.4vw;
    font-size: 0.8vw;
    position: relative;
    right: 14vw;
    width: 160%;
    height: 40%;
    top: 4vh;
    
}

.trending-pic{
    width: 3vw;
    height: 6vh;
    margin-bottom: 1vh;
    margin-top: 1.5vh;
    margin-left: 1vw;
}

.trending-profile {
    display: flex; 
    align-items: center; 
    margin-bottom: 0.8vw; 
    text-align: center; 
    
}

.trending-profile:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.trending-username {
    text-align: left;
    margin-left: 0.5vw;
}

.trending-project{
    font-weight: lighter; 
}

.star,
.shares,
.eye {
    padding: 0;
    background-color:white ;
    border: white;
    cursor: pointer;
}

.star:hover,
.shares:hover,
.eye:hover {
    transform: scale(1.2); 

}

.button-container{
    display: grid;
    grid-template-columns: 1.6vw 1.6vw 1.6vw;
    grid-gap: 1.5vw ;
    position: absolute;
    bottom: 2vh;
    left: 12vw;
    
}
